body {
  background-color: #e6e6e6;
}

form {
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 20px;
}

.MuiFormControl-root {
  margin: 10px 0;
}

.MuiInputBase-root {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
}

.MuiInputLabel-formControl {
  top: -5px;
}

.MuiButton-contained {
  background-color: #1976d2;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
}

.MuiButton-contained:hover {
  background-color: #1565c0;
}
